:root {
    --t-color: 0.3s;
}

* {
    transition: background var(--t-color) ease-in-out,
                color      var(--t-color) ease-in-out !important;
}

.entry .text {
    color: #0d6efd;
}
.err {
    color: red;
}
.ok {
    color: lime;
}
