:root {
    --foreground-color:   #E7E7E7;
    --background-color:   #181818;
    --link-color:         #99DDFF;
    --link-color-visited: #CC99FF;
    --link-color-hovered: #ff9999;
    --focus-color:        #ff9999;
    --p-font-size:        1.3rem;
    --p-font-scale:       1.2;
    --h6-font-scale:      calc(var(--p-font-size)  * var(--p-font-scale));
    --h5-font-scale:      calc(var(--h6-font-size) * var(--p-font-scale));
    --h4-font-scale:      calc(var(--h5-font-size) * var(--p-font-scale));
    --h3-font-scale:      calc(var(--h4-font-size) * var(--p-font-scale));
    --h2-font-scale:      calc(var(--h3-font-size) * var(--p-font-scale));
    --h1-font-scale:      calc(var(--h2-font-size) * var(--p-font-scale));
    --page-full-size:     70rem;
}
/* FONTS STYLE */
@font-face {
    font-family: "Iosevka";
    src: url("assets/fonts/iosevka-regular.ttf") format("truetype");
}
@font-face {
    font-family: "Han-Sans";
    src: url("assets/fonts/source-han-sans-regular.ttf") format("truetype");
}
body, .han-sans {
    font-family: "Han-Sans";
}
h1, h2, h3, h4, h5, h6, p, label {
    font-family: "Iosevka";
    word-wrap: break-word;
}
h1 { font-size: var(--h1-font-size); }
h2 { font-size: var(--h2-font-size); }
h3 { font-size: var(--h3-font-size); }
h4 { font-size: var(--h4-font-size); }
h5 { font-size: var(--h5-font-size); }
h6 { font-size: var(--h6-font-size); }
li, a, p, label {
    font-size: var(--p-font-size);
}
h1, h2, h3, h4, h5, h6, label, th {
    font-weight: bold;
}
/* SECTIONS STYLE */
.section {
    max-width: var(--page-full-size);
    width: 90%;
    margin: auto;
}
.section > * {
    max-width: calc(var(--page-full-size) * 0.75);
    width: 100%;
    margin: 0 auto;
}
.section, .section > * {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

#header-section-nav {
    width: calc(var(--page-full-size) * 0.3);
    display: grid;
    justify-content: start;
    font-size: var(--p-font-size);
}
#header-section-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#header-section h4 {
    margin: 0px 0px;
    display: flex;
    justify-content: center;
}
#header-section {
    background-color: #120520;
}
#about-me-section {
    background-color: #140A1E;
}
#subjects-section {
    background-color: #150E1C;
}
#form-section {
    background-color: #17131A;
}
#form-section form {
    width: calc(var(--page-full-size) * 0.6);
}
#others-section {
    background-color: #181818;
}

#others-section .imgs-row {
    display: flex;
}
/* COLORS STYLE */
a:link {
    color: var(--link-color);
}
a {
    transition: color 0.05s ease-in-out;
}
a:visited {
    color: var(--link-color-visited);
}
a:hover {
    transition: color 0.2s ease-in-out;
    color: var(--link-color-hovered);
}
#header-section-nav a {
    color: #CCBBFF;
    transition: color 0.05s ease-in-out, letter-spacing 0.05s ease-in-out;
}
#header-section-nav a:hover {
    transition: color 0.2s ease-in-out, letter-spacing 0.1s ease-in-out;
    color: #DD88FF;
    letter-spacing: 3px;
}
/* OTHERS STYLE */
.table-full-width {
    display: table !important;
    border-collapse: collapse;
    table-layout: fixed;
    width: calc(var(--page-full-size) * 0.9) !important;
}
table#subjects {
    font-size: calc(1.1 * var(--p-font-size));
}
table#subjects th, table#subjects td {
    border: 3px solid #E7E7E7;
    padding: 1px 7px;
}
table#about-me th {
    text-align: center;
    font-size: calc(1.3 * var(--p-font-size));
    width: 25%;
}
table#about-me td {
    font-size: calc(1.1 * var(--p-font-size));
}
.form-table {
    display: table !important;
}
.form-table-row {
    display: table-row;
}
.form-table-cell {
    display: table-cell;
}
.form-table-row label {
    width: 30%;
}
.form-table-row input {
    width: 100%;
}
ul {
    margin: 0 auto;
}
.text-sized, .text-sized * {
    min-height: calc(2 * var(--p-font-size));
    font-size: calc(1.1 * var(--p-font-size));
}
.ver-align {
    display: grid;
}
html {
    font-size: min(24px, 1.2rem);
}
body, input, textarea, button {
    background-color: var(--background-color);
    color: var(--foreground-color);
}
.imgs-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: calc(var(--p-font-size) * 13);
}
.imgs-row .img-shade {
  height: 100% !important;
  width: auto;
  object-fit: contain;
  display: block;
}

.img-shade {
    box-shadow: 3px 3px 1px #FFFFFF22;
    -webkit-box-shadow: 3px 3px 1px #FFFFFF22;
    -moz-box-shadow: 3px 3px 1px #FFFFFF22;
    margin: 3px;
    position: relative;
    transition: transform 0.05s ease-in-out, filter 0.05s ease-in-out;
}
.img-shade:hover {
    filter: sepia(0%) saturate(100%) brightness(130%) hue-rotate(0deg);
    transform: translateX(5px) translateY(5px);
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}
a[href^="http"]::after {
  content: " 🔗";
}
.section:before, .section:after {
    font-size: var(--p-font-size);
    content: "";
    display: block;
    box-sizing: border-box;
    height: 0px;
    width: 100%;
    border-top: 10px solid #FFFFFF22;
    margin-bottom: 5px;
    margin-top:    5px;
}
a:focus-visible, input:focus-visible, button:focus-visible {
    outline: 2px solid var(--focus-color);
}
